* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.clock-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.child {
  background-color: dodgerblue;
  color: white;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
